*{
    margin: 0;
    padding: 0;
    
}

.value{
    display: flex;
    align-items: center;
   justify-content: space-around;
    margin-top: 150px;
    margin-left: 40%;
    border: 1px solid black ;
    width: 20%;
    height: 50px;
    margin-bottom:100px ;
    display: none;
}

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  button{
    padding: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: black;
    color: white;

  }
  
